.title {
  font-family: arial unicode ms;
  display: block;
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  color: grey;
}

.back__btn,
.chart-go {
  text-decoration: none;
}

.back__message1,
.chart-go__text {
  text-align: center;
  font-family: arial unicode ms;
  color: grey;
  margin: 50px auto;
  font-size: 20px;
}

.back__contents {
  display: flex;
  justify-content: space-around;
}

.chart-go {
  display: flex;
}

.sum_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
