<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>家計簿</title> 
</head>
<body>
  <div class="sum_wrapper">
    <div class="title">
      <h1>今月の支出情報</h1>
    </div>
    <div class="sum">
      <div class="sum_title">支出合計金額</div>
      <div class="sum_date">
          <%= @sum_finances %> 円
      </div>
    </div>
    <canvas id="myPieChart" width="550" height="250"></canvas>
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

    <script>
    let ctx = document.getElementById("myPieChart");
    let myPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ["食事代", "購入費", "娯楽費", "交通費", "雑費"],
        datasets: [{
            backgroundColor: [
                "#afeeee",
                "#98fb98",
                "#ffd700",
                "#ffa07a",
                "#ffb6c1"
            ],
            data: <%= @total_item %>
        }]
      },
      options: {
        legend: {
          labels: {
            fontSize: 20,
          },
          position: 'bottom'
        },
        layout: {
          padding: {
            bottom: 50,
          },
        },
        title: {
          display: true,
          text: ''
        }
      }
    });
    </script>
  </div>
  <div class="back__contents">
    <a href="/events", class="back__btn">
      <p class="back__message1">カレンダーへ戻る</p>
    </a>
    <a href="/finances", class="chart-go">
      <p class="chart-go__text">月別表示</p>
    </a>
  </div>
</body>
</html>