<div class="contents">
  <header class="header">
    <div class="header__bar">
      <a href="/" class="header__logo">Calendar-App</a>
    </div>
    <%# <%= link_to "予定の追加", new_event_path, class: 'btn-warning' %> 
    <a href="/events/new">
      <button type="button" class="add" id='add-event'>予定の追加</button>
    </a>
  </header>
  <div id='calendar'></div>
  <div class="btn1">
    <a href="/finances", class="finances-btn">
      <button class="button">
        <i class="fas fa-chart-pie"></i>
        支出の確認
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </a>
  </div>
  <footer>
    <p class=footer__logo>
      Copyright Calendar-App 2020.
    </p>
  </footer>
</div>
