<%= form_with(local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "予定を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @events.each do |event| %>
    <%= event.title %>
  <% end %>
</div>