// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: fantasy;
}

.contents {
  background-color: whitesmoke;
}

#calendar {
  width: 90vw;
  margin: 40px auto;
}
.header {
  &__logo {
    font-size: 30px;
    color: gray;
    margin-left: 15px;
    text-decoration: none;
  }
}

@mixin show-btn {
  height: 40px;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  margin: 10px;
  text-align: center;
  padding-top: 8px;
}

@mixin detail {
  font-size: 20px;
  padding: 5px;
}

.footer {
  &__logo {
    display: flex;
    justify-content: center;
  }
}

// 以下ボタンscss
#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fcf3ec;
}

.finances-btn {
  text-decoration: none;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  // color: #e55743;
  color: mediumseagreen;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  font-family: arial unicode ms;

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}

// 以下モーダルscss
.input {
  position: relative;
  background-color: gray;
  &__content {
    z-index: 10;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(15%) translateX(-50%);
  }
  &__title {
    font-size: 25px;
  }
  &__time {
    width: 65%;
    margin-top: 5px;
  }
  &__footer {
    display: flex;
    justify-content: space-around;
  }
}
.form-control1 {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}
.form-control2 {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  padding: 5px;
}

.btn-primary {
  height: 40px;
  width: 80px;
  background-color: lightpink;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  margin: 10px;
}

.btn-default {
  height: 40px;
  width: 80px;
  border-style: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

.add {
  float: right;
  height: 35px;
  width: 100px;
  font-size: 15px;
  background-color: mediumseagreen;
  border-style: none;
  color: whitesmoke;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.field__consumption {
  height: 30px;
}

// 以下背景スタイル

.context {
  width: 100%;
  background-color: mediumseagreen;
  z-index: 1;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #d3d3d3;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

// 以下予定編集スタイル
.contents_update {
  z-index: 1;
  opacity: 0.1;
  position: relative;
  background-color: white;
}

.update_content {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: -50%;
  display: flex;
}

.update-btn {
  @include show-btn;
  background-color: lightskyblue;
  padding-bottom: 8px;
}

// 以下予定表示スタイル

.show {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  &__close {
    float: right;
    display: block;
  }
  &__contents {
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 150px;
    background-color: lightgray;
    border-radius: 10px;
    z-index: 10;
  }
  &__title1 {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  &__title2 {
    @include detail;
  }
  &__start-time {
    @include detail;
  }
  &__end-time {
    @include detail;
  }
  &__body {
    @include detail;
  }
  &__item {
    @include detail;
  }
  &__consumption {
    @include detail;
  }
  &__button {
    &__change {
      @include show-btn;
      background: lightgreen;
    }
    &__delete {
      @include show-btn;
      background-color: lightpink;
    }
  }
  &__buttones {
    display: flex;
    justify-content: space-around;
  }
}

.search {
  font-size: 15px;
  float: left;
  margin-left: 50px;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  background-color: burlywood;
  border-style: none;
}
