// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: fantasy;
}

.contents {
  background-color: whitesmoke;
}

#calendar {
  width: 90vw;
  margin: 40px auto;
}
.header {
  &__logo {
    font-size: 30px;
    color: gray;
    margin-left: 15px;
    text-decoration: none;
  }
}

.footer {
  &__logo {
    display: flex;
    justify-content: center;
  }
}

// 以下ボタンscss
#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fcf3ec;
}

.finances-btn {
  text-decoration: none;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  // color: #e55743;
  color: mediumseagreen;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  font-family: arial unicode ms;

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}

.modal {
  position: relative;
  background-color: grey;
  &__content {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(15%) translateX(-50%);
  }
  &__title {
    font-size: 25px;
  }
  &__footer {
    float: right;
  }
}
.form-control1 {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}
.form-control2 {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  padding: 5px;
}

.btn-primary {
  height: 40px;
  width: 80px;
  background-color: lightpink;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  margin: 10px;
}

.btn-default {
  height: 40px;
  width: 80px;
  border-style: none;
  cursor: pointer;
}
